(+) This notebook serves to compute intermediate  weekly statistics features. These weekly features will be aggregated later as final features for modeling steps. 
(++) The dataset covered transaction in 2016 consists of 52 weeks, so we compute basic statistics for each week among these weeks

In [95]:
import numpy as np
import pickle 
import pandas as pd

import datetime
WORK_PATH = "/Users/welcome/Google Drive (cuong.tranus@gmail.com)/research/internship/fraud-detection"
feat_dict = pickle.load(open(WORK_PATH + "/results/features_category.pkl" ,"rb"))

numeric_cols = feat_dict['numeric_cols']
cat_cols = feat_dict['cat_cols']

print(cat_cols)
print(numeric_cols)

['transactionDateTime', 'merchantName', 'posEntryMode', 'posConditionCode', 'merchantCategoryCode', 'currentExpDate', 'accountOpenDate', 'dateOfLastAddressChange', 'transactionType']
['accountNumber', 'customerId', 'creditLimit', 'availableMoney', 'transactionAmount', 'cardCVV', 'enteredCVV', 'cardLast4Digits', 'currentBalance', 'cardPresent', 'isFraud']

In [5]:
pd00 = pd.read_csv(WORK_PATH + "/data/processed_data.csv")
print(pd00.shape)

(786363, 26)

In [99]:
pd00['merchantCategoryCode'].head(4)

0        rideshare
1    entertainment
2       mobileapps
3       mobileapps
Name: merchantCategoryCode, dtype: object

In [87]:
## Extract date info
def get_week_in_year(date):
    """
    get week number based on date
    return an integer number between 0 and 51
    """
    y,m, d = date.split("-")
    week = datetime.date(int(y), int(m), int(d)).isocalendar()[1]
    if week >52:
        # for some reasons get_week('2016-01-01') return 53 but not zero 
        return 0
    else:
        return week
    

def get_hour_in_year(trans_date):
    """
    get hour number based on date
    return an integer number between 0 and 24*365
    
    """
    ymd = trans_date.split("T")[0]
    hour = trans_date.split("T")[1].split(":")[0]
    y,m,d  = ymd.split("-")
    start_time = datetime.datetime(2016,1,1,0)
    end_time = datetime.datetime(int(y), int(m),int(d),int(hour))
    
    return abs(start_time - end_time).total_seconds() / 3600.0
    


print(get_week_in_year('2016-01-01'))
print(get_week_in_year('2016-12-31'))
print(get_week_in_year('2016-01-07'))


print("--------")

print(get_hour_in_year('2016-08-13T14:27:32'))
print(get_hour_in_year('2016-10-11T05:05:54'))

0
52
1
--------
5414.0
6821.0

In [86]:
pd00['date'] = pd00['transactionDateTime'].apply(lambda x: x.split("T")[0]).astype(str)
pd00['week_in_year'] = pd00['date'].apply(get_week_in_year)
pd00['hour_in_year'] = pd00['transactionDateTime'].apply(get_hour_in_year)

### I. Aggregate  previous n weeks (before the week of transaction) for numetric columns

Time series feature group 1: Compute basic aggregated function mean/max/...of numeric columns over n weeks before
the week that customer make the transaction.

In [88]:
agg_num_func = {col :[np.mean, np.std, np.min, np.max, pd.DataFrame.kurt, pd.DataFrame.skew] for col in ['creditLimit','availableMoney','transactionAmount','currentBalance']}
agg_num_func['customerId']= np.size

def get_stats_numeric_feats_nweeks(pd00, nweek):
    """
    Compute some aggegate stats (mean/max/std/skewness/kurtosis) over previous n weeks before the
    week when customer make a transaction. 
    """
    
    pd_list = []
    for week in range(nweek,52):
        temp_pd = pd00[(pd00['week_in_year']>=week-nweek) & (pd00['week_in_year']<=week-1)]
        group_pd = temp_pd.groupby('accountNumber').agg(agg_num_fun).reset_index()
        group_pd.columns = ['accountNumber'] + ["_".join(col) +"_lb_{}weeks".format(nweek) for col in group_pd.columns.tolist()[1:]]
        group_pd['week_in_year'] = week
        pd_list.append(group_pd)

    
    pd02  = pd.concat(pd_list)
    
    return pd02

In [89]:
%%time
lb4wk_pd02 = get_stats_numeric_feats_nweeks(pd00, nweek = 4)

CPU times: user 3min 18s, sys: 1.97 s, total: 3min 20s
Wall time: 3min 24s

In [90]:
lb4wk_pd02.head(3)

,accountNumber,creditLimit_mean_lb_4weeks,creditLimit_std_lb_4weeks,creditLimit_amin_lb_4weeks,creditLimit_amax_lb_4weeks,creditLimit_kurt_lb_4weeks,creditLimit_skew_lb_4weeks,availableMoney_mean_lb_4weeks,availableMoney_std_lb_4weeks,availableMoney_amin_lb_4weeks,...,transactionAmount_kurt_lb_4weeks,transactionAmount_skew_lb_4weeks,currentBalance_mean_lb_4weeks,currentBalance_std_lb_4weeks,currentBalance_amin_lb_4weeks,currentBalance_amax_lb_4weeks,currentBalance_kurt_lb_4weeks,currentBalance_skew_lb_4weeks,customerId_size_lb_4weeks,week_in_year
0,100088067,50000,0.0,50000,50000,NaN,0.0,49847.770,133.863423,49748.44,...,NaN,0.133836,152.230,133.863423,0.0,251.56,NaN,-1.500594,3,4
1,100328049,5000,0.0,5000,5000,0.0,0.0,4828.962,190.327826,4605.10,...,1.872156,1.394735,171.038,190.327826,0.0,394.90,-2.960551,0.412050,5,4
2,100663626,20000,0.0,20000,20000,NaN,0.0,19935.510,97.907060,19822.85,...,NaN,1.426171,64.490,97.907060,0.0,177.15,NaN,1.678067,3,4

In [91]:
%%time
lb12wk_pd02 = get_stats_numeric_feats_nweeks(pd00, nweek = 12)

CPU times: user 3min 9s, sys: 2.9 s, total: 3min 12s
Wall time: 3min 16s

In [92]:

lb4wk_pd02.to_csv(WORK_PATH + "/results/basic_num_ts_feats_lb4wk.csv", index = False)

In [93]:
lb12wk_pd02.head(3)

,accountNumber,creditLimit_mean_lb_12weeks,creditLimit_std_lb_12weeks,creditLimit_amin_lb_12weeks,creditLimit_amax_lb_12weeks,creditLimit_kurt_lb_12weeks,creditLimit_skew_lb_12weeks,availableMoney_mean_lb_12weeks,availableMoney_std_lb_12weeks,availableMoney_amin_lb_12weeks,...,transactionAmount_kurt_lb_12weeks,transactionAmount_skew_lb_12weeks,currentBalance_mean_lb_12weeks,currentBalance_std_lb_12weeks,currentBalance_amin_lb_12weeks,currentBalance_amax_lb_12weeks,currentBalance_kurt_lb_12weeks,currentBalance_skew_lb_12weeks,customerId_size_lb_12weeks,week_in_year
0,100088067,50000,0.0,50000,50000,0.0,0.0,49746.739286,241.724595,49349.93,...,1.870305,1.487139,253.260714,241.724595,0.0,650.07,-1.527795,0.429791,14,12
1,100328049,5000,0.0,5000,5000,0.0,0.0,4700.565556,234.323312,4334.74,...,-1.088848,0.409309,299.434444,234.323312,0.0,665.26,-1.368334,0.118470,18,12
2,100663626,20000,0.0,20000,20000,0.0,0.0,19732.161429,224.999672,19471.38,...,1.558473,1.457675,267.838571,224.999672,0.0,528.62,-2.163977,0.000487,7,12

In [94]:
lb12wk_pd02.to_csv(WORK_PATH + "/results/basic_num_ts_feats_lb12wk.csv", index = False)

### II. Aggregate previous n weeks for Categorical features

Time series feature group 2: Basically, count distinct merchant name, merchant code n weeks before the week of transaction
Also check if the merchant name of current transaction belongs to the previous merchant name list of the same user.

In [254]:

agg_cat_func = {'merchantName': [pd.Series.nunique, lambda x: list(x)], 'merchantCategoryCode': [pd.Series.nunique,lambda x: list(x)]}

def in_prev_mchan_list(new_mchant_name, prev_mchant_list):
    """
    Check if the merchant name in current transaction belongs to previous list of merchant list formed
    by aggregation over n weeks
    
    """
    try:
        if new_mchant_name in list(prev_mchant_list):
            return 1
        else:
            return 0
    
    except:
        return None

def get_stats_cat_feats_nweeks(pd00, nweek):
    """
    Compute several stats, e.g how many unique merchant names, 
    and collect all merchant names into a list for later purpose
    
    """
    pd_list = []
    for week in range(nweek,52):
        temp_pd = pd00[(pd00['week_in_year']>=week-nweek) & (pd00['week_in_year']<=week-1)]
        group_pd = temp_pd.groupby('accountNumber').agg(agg_cat_func).reset_index()
        group_pd.columns = ["accountNumber", "dcount_mchant_name", "list_mchant_name", "dcount_mchant_code","list_mchant_code"] 
        group_pd['week_in_year'] = week
        pd_list.append(group_pd)
    
    pd02  = pd.concat(pd_list)
    pd03 = pd.merge(pd02, pd00[['accountNumber','merchantName', 'merchantCategoryCode', 'week_in_year']], on =['accountNumber','week_in_year'], how ='right')
    
    pd03 = pd03.rename(columns = {'dcount_mchant_name':"dcount_mchant_name_lb_{}weels".format(week)})
    pd03 = pd03.rename(columns = {'dcount_mchant_code':"dcount_mchant_code_lb_{}weels".format(week)})
    
    new_cols = ["dcount_mchant_name_lb_{}weels".format(week),"dcount_mchant_code_lb_{}weels".format(week) ]
    
    pd03['in_prev_mchant_list_lb_{}weeks'.format(nweek)] = pd03.apply(lambda x: \
                                                          in_prev_mchan_list( x['merchantName'], x['list_mchant_name']) , axis=1)
    
    pd03['in_prev_mchant_codes_lb_{}weeks'.format(nweek)] = pd03.apply(lambda x: \
                                                          in_prev_mchan_list( x['merchantCategoryCode'], x['list_mchant_code']) , axis=1)
    
    
    new_cols = new_cols  + ['in_prev_mchant_list_lb_{}weeks'.format(nweek),'in_prev_mchant_codes_lb_{}weeks'.format(nweek) ]
    

    return pd03[['accountNumber','week_in_year'] + new_cols  ]

In [260]:
%%time
lb12wk_pd03 = get_stats_cat_feats_nweeks(pd00, nweek = 12)

CPU times: user 1min 16s, sys: 2.16 s, total: 1min 18s
Wall time: 1min 19s

In [261]:
lb12wk_pd03.head(3)

,accountNumber,week_in_year,dcount_mchant_name_lb_51weels,dcount_mchant_code_lb_51weels,in_prev_mchant_list_lb_12weeks,in_prev_mchant_codes_lb_12weeks
0,737265056,32,NaN,NaN,NaN,NaN
1,737265056,41,1.0,1.0,0.0,0.0
2,737265056,45,1.0,1.0,0.0,0.0

In [262]:
lb12wk_pd03.to_csv(WORK_PATH + "/results/basic_cat_ts_feats_lb12wk.csv", index = False)

In [263]:
%%time
lb14wk_pd03 = get_stats_cat_feats_nweeks(pd00, nweek = 4)

CPU times: user 1min 14s, sys: 1.35 s, total: 1min 15s
Wall time: 1min 16s

In [264]:
lb14wk_pd03.head(3)

,accountNumber,week_in_year,dcount_mchant_name_lb_51weels,dcount_mchant_code_lb_51weels,in_prev_mchant_list_lb_4weeks,in_prev_mchant_codes_lb_4weeks
0,737265056,32,NaN,NaN,NaN,NaN
1,737265056,41,NaN,NaN,NaN,NaN
2,737265056,45,1.0,1.0,0.0,0.0

In [266]:
lb14wk_pd03.to_csv(WORK_PATH + "/results/basic_cat_ts_feats_lb4wk.csv", index = False)